.display-4 {
    /* Name */
    font-style: italic;
    text-transform: uppercase;
    font-family: fantasy;
}

.profile-image:hover {
    /* Profile Image */
    -moz-box-shadow: 5px 5px 5px 5px #424244;
    -webkit-box-shadow: 5px 5px 5px 5px #424244;
    box-shadow: 5px 5px 5px 5px #424244;

}

.profile-image {
    /* Profile Image */
    width: 300px;
    height: 300px;
    border-radius: 15%;


}

.listofskills {
    /* List of Skills */
    border-bottom: 2px solid #000;
    font-family: fantasy;
}

.aboutme-header {
    /* About Me Header */
    border-bottom: 2px solid #000;
    font-family: fantasy;
}

.aboutme {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

.contactme-header {
    /* Contact Me Header */
    border-bottom: 2px solid #000;
    font-family: fantasy;
}.contactme-header:active{
    box-shadow: 2px 2px 5px #fc894d;
}

.contactme {
    font-family: cursive;
    font-size: 30px;
}

.email,
.github {
    color: #000;
}

.github:hover {
    color: #0011ff;
    text-decoration: none;
}
.email:hover{
    color: #0011ff;
    text-decoration:line;
}

.footer {
    /* Footer */
    border-top: 2px solid #000;
    text-align: center;
    margin: 5%;
    font-family:'Times New Roman', Times, serif;

}

#button:hover {
    /* Button see project */
    -moz-box-shadow: 5px 5px 5px 5px #424244;
    -webkit-box-shadow: 5px 5px 5px 5px #424244;
    box-shadow: 5px 5px 5px 5px #424244;
}

.nav-item:hover {
    -moz-box-shadow: 5px 5px 5px 5px #424244;
    -webkit-box-shadow: 5px 5px 5px 5px #424244;
    box-shadow: 5px 5px 5px 5px #424244;
}

.nav-item {
    /* Navbar items */
    border-radius: 30%;
}

.lead { /* text under image */
    font-size: 20px;
    font-family: cursive;
}

.card:hover {
    -moz-box-shadow: 5px 5px 5px 5px #424244;
    -webkit-box-shadow: 5px 5px 5px 5px #424244;
    box-shadow: 5px 5px 5px 5px #424244;
}

.navbar {
    /* Navbar */
    overflow: hidden;
    background-color: #666666;
    position: fixed;
    top: 0;
    width: 100%;
    display: inline;

}

.navbar a {
    float: left;
    display: block;
    color: #eeeeee;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    color: #1c87c9;
}

.container-images {
    margin: 5%;
    border-top: 2px solid black;

}

.img-fluid:hover {
    -moz-box-shadow: 5px 5px 5px 5px #424244;
    -webkit-box-shadow: 5px 5px 5px 5px #424244;
    box-shadow: 5px 5px 5px 5px #424244;
}

.img-fluid {
    border-radius: 15%;
}
.list-group-item {
    /* skills text */
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.mywork,.card-title,.header-text {
    /* my work */
    font-family: fantasy;
}
.card-text{
    font-family:'Times New Roman', Times, serif
}
/*all headers */
.listofskills:hover,
.aboutme-header:hover,
.contactme-header:hover,
.header-text:hover,
.footer:hover,
.mywork:hover{
    font-family: 'Times New Roman', Times, serif;

}